.home-container {
	border-radius: 10px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	font-family: "DM Sans", sans-serif;
}

.home-container-label {
	width: 97%;
}

.label-container {
	display: flex;
	align-items: center;
	background: white;
	padding: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background: rgb(230, 210, 172);
}
.progress-circle {
	position: relative;
	width: 110px;
	height: 80px;
	border-radius: 50%;
	background: conic-gradient(#67a74f 30%, #e0e0e0 0%);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: bold;
	color: #333;
}
.progress-circle::after {
	content: "";
	position: absolute;
	width: 70%;
	height: 70%;
	background: white;
	border-radius: 50%;
}
.progress-text {
	position: absolute;
	font-size: 16px;
	font-weight: bold;
	color: black;
	z-index: 10;
}
.text-content {
	margin-left: 20px;
}
h2 {
	font-size: 18px;
	margin: 0;
	text-decoration: none !important;
}
p {
	font-size: 13px;
	margin-bottom: 25px;
}
.button {
	padding: 4px 10px;
	border-radius: 5px;
	text-decoration: none;
	color: black;
	font-size: 15px;
	border: 1px solid #eaeaea;
	margin-top: 50px;
}
.button {
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	font-size: 15px;
	margin-top: 50px;
	background: #027f77;
	font-weight: 500;
	border: none;
}

.home-container-content {
	background: white;
	border-radius: 10px;
	width: 97%;
	height: 100%;
	display: flex;
}

.home-container-content-left {
	display: flex;
	gap: 10px;
	flex-direction: column;
	border-right: 1px solid #eaeaea;
	padding: 20px;
	width: 400px;
	height: calc(100vh - 240px);
	overflow: auto;
}
.home-container-content-right {
	flex: 1;
	height: calc(100vh - 230px);
	overflow: auto;
}
