.listbug-ctn {
	font-family: "DM Sans", sans-serif;
	margin-top: 20px;
}

.listbug-ctn body {
	background-color: #f8f9fa;
	margin: 20px;
}
.listbug-ctn table {
	width: 100%;
	border-collapse: collapse;
	background: white;
	font-size: 12px;
}

.listbug-ctn tr:hover {
	background: #f2f2f2;
	cursor: pointer;
}
.listbug-ctn th,
td {
	padding: 12px;
	border: 1px solid #ddd;
	text-align: left;
}

.listbug-ctn td:nth-child(1) {
	width: 20px;
}
.listbug-ctn td:nth-child(2) {
	width: 380px;
}
.listbug-ctn td:last-child img,
.listbug-ctn td:last-child span {
	vertical-align: middle;
	margin-right: 5px;
}

.listbug-ctn th {
	background-color: #f4f4f4 !important;
	font-weight: bold;
}

.listbug-ctn td:nth-child(11) {
	text-align: center;
	font-weight: bold;
}

.status-rejected {
	color: red;
}

.status-awaiting {
	color: rgb(25, 144, 236);
}

.status-accepted {
	color: var(--primary-color);
}
.listbug-ctn td img {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 2px solid white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.new-label {
	color: rgb(25, 144, 236);
	font-weight: 600;
	margin-left: 10px;
}
