.listbug-ctn {
	font-family: "DM Sans", sans-serif;
	margin-top: 20px;
}

.listbug-ctn body {
	background-color: #f8f9fa;
	margin: 20px;
}
.listbug-ctn table {
	width: 100%;
	border-collapse: collapse;
	background: white;
	font-size: 12px;
}
.listbug-ctn th,
td {
	padding: 10px;
	text-align: left;
}
.listbug-ctn .status-rejected {
	color: red;
	font-weight: bold;
}
.listbug-ctn .feature {
	color: #007bff;
}
.listbug-ctn .new-label {
	color: #00aaff;
	font-weight: bold;
}
.listbug-ctn .icon {
	width: 20px;
	height: 20px;
}

.listbug-ctn tr:nth-child(even) {
	background-color: #f1f1f1; /* Áp dụng cho hàng chẵn */
}
.listbug-ctn td:first-child {
	max-width: 400px;
}

.listbug-ctn td:last-child {
	display: flex;
	gap: 5px;
	align-items: center;
}

.listbug-ctn td:first-child {
	color: #236a84;
}
.listbug-ctn tr {
	border: 1px solid #ddd;
}

.listbug-ctn td img {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 2px solid white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
