.employee-profile {
	font-family: "DM Sans", sans-serif;
	width: 100%;
	height: 100%;
}
.employee-profile-label {
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.employee-profile-container {
	width: 100%;
	display: flex;
	margin: 0 auto;
}
.employee-profile-left-section {
	background-color: #ffffff;
	border: 1px solid #e5e7eb;
	padding: 20px;
	width: 25%;
}
.employee-profile-right-section {
	width: 75%;
	overflow-y: auto;
}
.employee-profile-header {
	display: flex;
	margin-bottom: 20px;
	position: relative;
	justify-content: space-between;
}
.img-change-ava {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}
.img-change-ava img {
	width: 18px;
	height: 18px;
}
.employee-profile-image {
	width: 60px;
	height: 60px;
	border-radius: 20px;
	object-fit: cover;
}
.icon-more {
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 13px;
	height: fit-content;
	background-color: var(--primary-color);
	color: white;
}
.icon-more:hover {
	opacity: 0.9;
}
.employee-profile-info {
	margin-left: 5px;
}

.employee-profile-info h2 {
	font-size: 20px;
	margin: 0;
	color: #1a202c;
}
.employee-profile-info p {
	font-size: 14px;
	color: #6b7280;
	margin: 5px 0 0;
}
.employee-profile-section {
	border-bottom: 1px solid #efe9e9;
	padding: 0 0 10px 0;
}

.employee-profile-section img {
	width: 20px;
	height: 20px;
}
.employee-profile-section h3 {
	font-size: 16px;
	font-weight: 600;
	color: #1a202c;
	margin-bottom: 10px;
}
.employee-profile-section p {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 14px;
	color: #1a202c;
	margin: 5px 0;
}
.employee-profile-section p span {
	color: #6b7280;
	margin-right: 5px;
}
.employee-job-info {
	background-color: #ffffff;
	border: 1px solid #e5e7eb;
	padding: 20px;
}
.employee-job-info-table {
	width: 100%;
	border-collapse: collapse;
}
.employee-job-info-table th,
.employee-job-info-table td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #e5e7eb;
	font-size: 14px;
}
.employee-job-info-table th {
	font-weight: 600;
	color: #1a202c;
	text-transform: uppercase;
}
.employee-job-info-table td {
	color: #1a202c;
}
.employee-job-info-table td button {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 16px;
	color: #6b7280;
}
.employee-activity-compensation {
	display: flex;
}
.employee-activity-section,
.employee-compensation-section {
	background-color: #ffffff;
	border: 1px solid #e5e7eb;
	padding: 20px;
	width: 100%;
}
.employee-activity-label {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.employee-activity-section h3,
.employee-compensation-section h3 {
	margin-top: 0;
	margin-bottom: 0;
}
.employee-activity-item {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	font-size: 15px;
}
.employee-activity-image {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}
.employee-activity-text p {
	font-size: 14px;
	color: #1a202c;
	margin: 0;
}
.employee-activity-text p span {
	color: #6b7280;
	font-size: 12px;
}
.employee-view-all {
	text-align: right;
	border: 1px solid #ef4444;
	padding: 5px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.employee-view-all a {
	font-size: 12px;
	color: #ef4444;
	text-decoration: none;
}
.employee-compensation-item {
	margin-bottom: 15px;
}
.employee-compensation-item p {
	font-size: 16px;
	font-weight: 600;
	color: #1a202c;
	margin: 0;
}
.employee-compensation-item p span {
	font-size: 12px;
	color: #6b7280;
	font-weight: 400;
}
.stat-card-ctn {
	display: flex;
	gap: 10px;
	justify-content: space-between;
}
.stat-card {
	background-color: #ffffff;
	border: 1px solid #e5e7eb;
	border-radius: 8px;
	padding: 10px;
	text-align: center;
	width: 30%;
}
.stat-icon {
	font-size: 24px;
	margin-bottom: 10px;
	color: #1a202c;
}
.stat-icon img {
	width: 80px;
	height: 80px;
}
.stat-number {
	font-size: 20px;
	font-weight: 600;
	color: #1a202c;
	margin: 10px 0;
}
.stat-label {
	font-size: 14px;
	color: #6b7280;
	white-space: normal;
}
/* Base square style */
.calendar-heatmap__square {
	rx: 1px; /* rounded corners for SVG rect */
	ry: 1px;
	transition: fill 0.2s ease-in-out;
	stroke: #e0e0e0;
	stroke-width: 0.5;
}

/* Empty */
.color-empty {
	fill: #f4f6f8;
}

/* Gradient from light blue to darker cyan */
.color-level-1 {
	fill: #cce5ff;
}

.color-level-2 {
	fill: #99ccff;
}

.color-level-3 {
	fill: #66b3ff;
}

.color-level-4 {
	fill: #3399ff;
}

.color-level-5 {
	fill: #007bff;
}

/* Hover effect */
.calendar-heatmap__square:hover {
	stroke: #007bff;
	stroke-width: 1;
	cursor: pointer;
}
