.project-ctn {
	font-family: "DM Sans", sans-serif;
	width: 99%;
	height: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	overflow: hidden;
}

.project-header {
	padding: 0 10px;
	background: white;
}

.project-header-label {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
}
.progress-bar-ctn {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5px;
}
.progress-bar-ctn span {
	font-size: 12px;
	color: var(--primary-color);
}
.progress-bar {
	flex: 1;
	min-height: 2px;
	background-color: var(--primary-color);
}
.session-section {
	display: flex;
	align-items: center;
	padding: 5px;
	cursor: pointer;
	border-radius: 10px;
	background: #f1eded;
	border: 1px solid red;
}

.session-popup .modal-header {
	padding: 0 20px 20px 20px;
	font-size: 22px;
	font-weight: bold;
}

.session-popup .modal-body {
	padding: 0 20px 20px 20px;
}

.session-popup .form-group {
	margin-bottom: 20px;
}
.session-popup label {
	display: block;
	margin-bottom: 6px;
	color: #666;
	font-size: 14px;
}

.session-popup select {
	width: 100%;
	padding: 10px;
	font-size: 15px;
	border: none;
	background-color: var(--primary-color);
	color: white;
	border-radius: 4px;
	cursor: pointer;
}

.session-popup .modal-footer {
	background-color: var(--primary-color);
	padding: 20px;
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.session-popup .btn {
	padding: 10px 20px;
	font-size: 15px;
	border-radius: 6px;
	cursor: pointer;
	border: none;
}

.session-popup .btn-cancel {
	background-color: white;
	color: #2c5d6c;
	outline: none;
}

.session-popup .btn-start {
	background-color: var(--primary-color);
	color: white;
	border: 1px solid #fff;
	outline: none;
}

.session-popup .disable,
.project-footer .disable {
	pointer-events: none;
	opacity: 0.5;
}
.session-popup .btn-start:hover {
	background: white;
	color: var(--primary-color);
}
.session-popup .close-icon {
	display: flex;
	justify-content: right;
}

.session-popup .close-icon img {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: var(--primary-color);
	border-radius: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.session-section:hover {
	border-color: var(--primary-color);
}
.session-section img {
	width: 20px;
	height: 20px;
}
.project-header h3 {
	flex: 1;
	margin: 15px 0 10px 0;
}
.project-header-sub {
	display: flex;
	gap: 20px;
	border-bottom: 1px solid #ccc;
}

.header-item {
	cursor: pointer;
	padding: 10px;
	font-size: 13px;
	font-weight: 600;
}
.active {
	background: #f3fcfb;
	color: var(--primary-color);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 1px solid var(--primary-color);
}

.project-content {
	height: calc(100vh - 205px);
	overflow: auto;
}

.project-footer {
	width: 100%;
	background-color: var(--primary-color);
	position: fixed;
	bottom: 0;
	left: 250px;
	border-left: 1px solid #ccc;
	height: 55px;
	display: flex;
	align-items: center;
}

.project-footer span {
	padding: 10px 20px;
	background: white;
	border-radius: 5px;
	color: var(--primary-color);
	font-size: 15px;
	margin-left: 15px;
	cursor: pointer;
}

.project-footer span:hover {
	background: #12605a;
	color: white;
}

.project-footer p {
	margin: 0;
	margin-left: 20px;
	color: white;
}

.btn-submit {
	display: flex;
	gap: 5px;
	align-items: center;
	background: var(--primary-color) !important;
	color: white !important;
	border: 1px solid #fff;
}
.btn-submit img {
	width: 20px;
	height: 20px;
}
.btn-submit:hover {
	background: #12605a !important;
}
