.task-card {
	display: flex;
	align-items: center;
	border-radius: 10px;
	width: 600px;
	padding: 15px;
	position: relative;
	font-family: "DM Sans", sans-serif;
	max-width: 380px;
	background: #f1ebeb;
}

.active {
	background: white !important;
}

.task-status {
	width: 5px;
	height: 100%;
	background-color: #009d91;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}

.task-content {
	flex: 1;
	margin-left: 15px;
}

.task-header h3 {
	font-size: 16px;
	margin-top: 0;
	font-weight: 500;
	color: #2d413c;
}

.task-header p {
	font-size: 14px;
	margin-top: 5px;
}

.task-info {
	display: flex;
	align-items: center;
	margin: 10px 0;
}

.badge {
	background-color: #e0f8e0;
	color: #038535;
	padding: 5px 10px;
	border-radius: 15px;
	font-size: 14px;
	font-weight: 500;
	margin-right: 10px;
}

.visit-link {
	color: #0073e6;
	text-decoration: none;
	font-size: 14px;
}

.task-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

.avatars {
	display: flex;
	align-items: center;
}

.avatars img {
	width: 25px;
	height: 25px;
	border-radius: 10px;
	border: 2px solid white;
}

.extra {
	width: 25px;
	height: 25px;
	border-radius: 10px;
	background-color: #2ea499;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	font-weight: bold;
}

.icons {
	display: flex;
	gap: 5px;
	font-size: 14px;
	color: #008075;
	font-weight: 600;
}
.task-right-ctn {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
	height: 170px;
}
.task-date {
	text-align: center;
	background-color: #f0f0f0;
	padding: 10px;
	border-radius: 10px;
	font-size: 12px;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	color: #495552;
}

.task-date strong {
	font-size: 18px;
}
