:root {
	--primary-color: #027f77 !important;
	--secondary-color: #ffffff !important;
}

body {
	margin: 0 !important;
}

.primary-btn {
	padding: 10px;
	font-size: 14px;
	font-family: Roboto;
}

.d-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
